<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buscador de tracks</title>
<!-- Incluye Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1>Buscador de tracks</h1>
		<form action="/search" method="get">
			<div class="form-group">
				<label for="search-input">Buscar:</label> <input type="text"
					class="form-control" id="search-input" name="name"
					placeholder="Introduce el nombre del track">
			</div>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>

		<!-- Agrega una tabla para mostrar los resultados de búsqueda -->
		<table class="table mt-5">
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th>Artista</th>
					<th>Año</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="track : ${tracks}">
					<td><img th:src="@{${track.cover}}" alt="Thumbnail"
						width="100" height="100" /></td>
					<td th:text="${track.name}"></td>
					<td th:text="${track.artist}"></td>
					<td th:text="${track.year}"></td>
					<td><a th:href="@{/tracks/{id}(id=${track.id})}"
						class="btn btn-primary">Ver detalles</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>